body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("foto's/achtergrond.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a img {
    width: 24px;
    height: 24px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
}

a {
    color: #3498db;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #3498db;
    color: white;
}

a[href="add.html"] {
    display: block;
    width: 150px;
    margin: 30px auto;
    text-align: center;
    padding: 10px;
    background-color: #0b5786;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

a[href="add.html"]:hover {
    background-color: #67828e;
}

table a {
    color: white;
    background-color: #3498db;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

table a:hover {
    background-color: #2c82b6;
}

.action-edit {
    background-color: #28a745;
}

.action-edit:hover {
    background-color: #218838;
}

.action-delete {
    background-color: #dc3545;
}

.action-delete:hover {
    background-color: #c82333;
}
