
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("foto's/achtergrond.avif");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    margin: 0;
    }

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    background-color: #33333300;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a img {
    width: 24px;
    height: 24px;
}

main {
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.filmgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.filmgrid h2{
    color: white;
}

.filmgrid ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.filmgrid ul li {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filmgrid ul li img {
    max-width: 70%;
    height: auto;
    border-radius: 5px;
}


.load-more {
    text-align: center;
    margin: 20px 0;
}

.load-more button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.load-more button:hover {
    background-color: #1f78b4;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}



@media (max-width: 500px) {
    .filmgrid ul li {
        flex: 1 0 100%;
        max-width: 70%;
        padding: 10px;
    }

    .filmgrid ul li img {
        height: auto;
        max-height: 200px;
    }

    .intro h1 {
        font-size: 1.5rem;
    }

    .intro p {
        font-size: 1rem;
    }

    header nav ul {
        align-items: flex-end;
    }

    header nav ul li {
        margin: 5px 0;
    }
}
